*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.ch{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    font-size: 25px;
}
.mainph{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 12vh;
}

@media (min-width: 2px) and (max-width: 500px) {
    .mainph img{
        width: 97%;
    }
}