*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.ch{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    font-size: 25px;
}
.mainimg{
    padding-top: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wa{
    width: auto;
}